
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
}

.btn {
  color:white;
  font-size: 1.1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  background-color: #1100fafa;
  border: none;
  justify-content: center;
  margin-top: 5px;
  right: 0.5rem;
  bottom: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Todo Container */

.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2rem;
  background:white;
  padding: 3rem;
  height: flex;
  width: 70%;
  box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
  max-width: 30rem;
}

h2 {
  text-transform: uppercase;
  height: 3rem;
  text-align: center;
}
#head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#profile-icon img {
  width: 70px; 
  height: 70px; 
  object-fit: cover; 
  border-radius: 50%; 
  border-style: solid;
  border-width: 1px;
  border-color: #b1b1b1;
}
#profile{
  display: flex;
  flex-direction: column;
  margin-left: 20px;  
  align-items: center; 
}
#name{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
#head2{
  margin-top: 20px;
}
#calender{
  text-align: right;}
#time{
  text-align: right;
}
.dateprio{
  align-items: center 
}
#priority{
  width: 322px;
}
.input {
  position: relative;
  display: flex;
}

.input-field {
  width: 100%;
  border: 0.06rem solid #d2d2d2bf;
  border-radius: 0.5rem;
  padding: 1.25rem;
  font-size: 1rem;
}

input[type="date"]{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
 text-align: center;
 border-radius: 0.5rem;
 border: 0.06rem solid #d2d2d2bf;
 height: 60px;
 width: 150px;
}

.todo-container {
  display: flex;
  gap: 1rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

#todoList p {
  display: flex;
  gap: 1rem;
  color: rgb(0, 0, 0);
  align-items: center;
  font-size: 20px;
}

#todoList .disabled {
  color: #8f98a8;
}

.disabled {
  display: flex;
  text-decoration: line-through;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "\2713";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.7rem;
  text-align: center;
  border: 0.06rem solid grey;
  border-radius: 50%;
  color: transparent;
}

input[type="checkbox"]:checked::before {
  color:white;
  background-color:rgb(0, 255, 0);
  border: 0.06rem solid rgb(0, 255, 0);
  border-radius: 50%;
}

.counter {
  border: 0.06rem solid rgb(150, 150, 150);
}

.counter-container {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  color: grey;
}

.counter-container button {
  border: none;
  background-color: transparent;
  color:red;
  font-size: 1rem;
  cursor: pointer;
}
.todo-date{
  font-size: 13px;
  color :#4b4b4b;
  margin-left: 50px;
}
.todo-priority{
  margin-top: 12px;
  color :#000000;
}
.priority-low{
    max-height: fit-content;
    width: 45px;
    background-color: #4133ff; 
    border-radius: 10px; 
    text-align: center;
}
.priority-medium{
    max-height: fit-content;
    width: 70px;
    background-color: #f5e503; 
    border-radius: 10px; 
    text-align: center;
}
.priority-high{
    max-height: fit-content;
    width: 50px;
    background-color: #f5a003; 
    border-radius: 10px; 
    text-align: center;
}
.priority-urgent{
    max-height: fit-content;
    width: 60px;
    background-color: hsl(0, 100%, 58%); 
    border-radius: 10px; 
    text-align: center;
}
